# macOS system files
.DS_Store
._*

# Dependencies
node_modules/
/vendor

# log files
*.log
tmp/

# env var
.env

# any other . files
.vscode/

# weather probabilities
/Helpers/weather_probabilities.json