# macOS system files
.DS_Store
._*

# Dependencies
node_modules/
/vendor

# log files
*.log
tmp/

# env var
.env

# any other . files
.vscode/
.pytest_cache
__pycache__

# weather probabilities
/data/weather_probabilities.json